@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    margin-left: 100px;
    margin-right: 100px;

    color: #373737;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav__button:last-child{
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 10px;
}
.nav__button:nth-child(2){
    margin-left: 25%;
    text-decoration: underline;
    text-decoration-color: #717CFF;
}
.description{

    display: flex;
    flex-direction: column;
    
    width: 50%;
}
.description__header{
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 77px;
}
.description__text{
    font-family: Alata;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 38px;
/* or 173% */
color: #7D7D7D;
}
.description__button{
    margin-top: 20px;
    background: #717CFF;
    width: 150px;
    text-align: center;
    vertical-align:middle;
    padding: 15px;
    border-radius: 11px;
    color: white;
}

.description__contacts{
    display: flex;
    flex-direction: row;
}
.content{
    margin: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.description__contacts > img {
    margin-top: 30px;
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

.images {
    position: absolute;

    bottom: 0;
    right: 0;
}

.woman {
    height: 80vh;
  
    position: absolute;
    right: 5vw;
    bottom: 0;
}
  
.oval {
    height: 70vh;
    position: absolute;
    z-index: -1;
    right: 0vh;
    bottom: 0vh;
}