@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{

    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    margin: 0;
    color: #373737;
}
button{
    border: none; outline: none; 
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0px 100px;
}
.nav__button:last-child{
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 10px 25px 10px 25px;
}
.nav__button:nth-child(2){

    border-bottom: 2px solid #717CFF;
}

.description{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.description__header{
    font-size: 56px;
    line-height: 77px;
}
.description__text{
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
}
.description__button{
    margin-top: 20px;
    background: #717CFF;
    width: 200px;
    text-align: center;
    vertical-align:middle;
    padding: 15px;
    border-radius: 11px;
    color: white;
    font-size: 22px;
    line-height: 40px;
}

.description__contacts{
    display: flex;
    flex-direction: row;
}
.content{
    margin: 100px 0px 0px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.description__contacts > img {
    margin-top: 30px;
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

.woman {
    background-image: url(assets/oval.svg);
    background-repeat: no-repeat;
}
@media screen and (min-width: 1300px){
    .nav__button:nth-child(2){
        margin-left: 30%;
        border-bottom: 2px solid #717CFF;
    }
}
@media screen and (max-width: 1300px){
    .nav__button:nth-child(2){
        margin-left: 50px;
        border-bottom: 2px solid #717CFF;
    }
}
